body.fondo {
      background-image: url('../img/fondo.JPG');
      background-repeat: no-repeat;
      background-color: #fff;
}

input[type=radio].pauta {
    width: 20px;
    height: 20px;
}

.thl-radius {
    border-radius: 10px 0px 0px 0px !important;
	border-top: 0px !important;
}

.thr-radius {
    border-radius: 0px 10px 0px 0px !important;
	border-top: 0px !important;
}

input[type=checkbox].pauta{
    width: 20px;
    height: 20px;
}



.plusTitulo {
  width: 35px;
  height: 35px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: seagreen;
}


.plusTituloError {
  width: 35px;
  height: 35px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: firebrick;
}