body.fondo {
      background-image: url('../img/fondo.JPG');
      background-repeat: no-repeat;
      background-color: #fff;
}

input[type=radio].pauta {
    width: 20px;
    height: 20px;
}

.thl-radius {
    border-radius: 10px 0px 0px 0px !important;
	border-top: 0px !important;
}

.thr-radius {
    border-radius: 0px 10px 0px 0px !important;
	border-top: 0px !important;
}

input[type=checkbox].pauta{
    width: 20px;
    height: 20px;
}

.plusTitulo {
  width: 35px;
  height: 35px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: seagreen;
}

.plusA {
    width: 29px;
    height: 29px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    color: seagreen;
}

.plusTituloError {
  width: 35px;
  height: 35px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: firebrick;
  padding-bottom: .4rem;
}

.eliminarPre {
  /*width: 35px;
  height: 35px;*/
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: firebrick;
}

/*.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/cargando_1.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}*/

.loader {
display : block;
position : fixed;
z-index: 100;
background-image : url('../img/cargando_2.gif');
background-color:#000000;
opacity : 0.5;
background-repeat : no-repeat;
background-position : center;
left : 0;
bottom : 0;
right : 0;
top : 0;
}

.trash{
	padding: 0px !important;
}

 .edit{
	padding: 0px !important;
}

.registro{
    padding: .4rem !important;
}

.grabacion{
	width: 100% !important;
}

.iconBlack {
    width: 29px;
    height: 29px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

#backButton {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #2eacd1;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.verde {
	color: seagreen;
}

.rojo {
	color: firebrick;
}

.selectFiltros{
	width: 195px;
}

.telefono_gestiones{
    width: 18px;
    height: 18px;
}

.texto-pequenio{
  font-size: 0.7rem !important;
  margin-bottom: 0rem !important;
}