body.fondo {
      background-image: url('../img/fondo.JPG');
      background-repeat: no-repeat;
      background-color: #fff;
}

input[type=radio] {
    width: 25px;
    height: 25px;
}

.btn-green {
  background-color: green;
}
.btn-red {
  background-color: red;
}
.wrap {
  margin: 120px;
}

